# Abhängigkeiten
/node_modules

# Umgebungsvariablen
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Verzeichnis für temporäre Dateien
/tmp

# Benutzerspezifische Dateien
.DS_Store
Thumbs.db

# IDE-spezifische Dateien
.vscode/
.idea/
*.swp
*.swo

# Build-Ausgabeverzeichnis
/dist

# Optional: Verzeichnis für generierte Dateien
/lib
/build
